:root {
    --font-family: 'Courier New', Courier, monospace;
    --prime-color: #52b788;
    --second-color: #4c956c;
    --dark-color: #386641;
    --grey-color: #e9ecef;
    --second-hover: #edf2f4;
}


/* remove home */